h2 {
    text-align: left; /* Wyrównanie tekstu w nagłówkach do lewej */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #444849;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
}

.header h1 {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center; /* Wyśrodkowanie formularza */
    padding: 40px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Wyrównanie do lewej w formularzu */
    width: 100%;
    max-width: 600px; /* Maksymalna szerokość formularza */
}

input, textarea {
    background-color: #444849;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    font-size: 16px;
    border: 1px solid #FFF;
    width: 100%; /* Formularz zajmuje pełną szerokość dostępnego miejsca */
}

button {
    background-color: #343434;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-button {
    max-height: 10%;
    
}

.back-button::before {
    content: '\2190'; /* Left arrow */
    margin-right: 5px;
}