<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
    <link rel="stylesheet" href="/css/stylelogowanie.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</head>

<body>
<div class="container">
    <div class="logo">

        <img src="/images/logo.png">

    </div>

        <form class="form" th:action="@{/login}" method="post">
            <div class="input-group">
            <label for="email">Nazwa użytkownika:</label>
            <input id="email" type="text" name="username" required />
            </div>
                <div class="input-group"> <label for="haslo">Hasło:</label>
            <div class="password-container">
                <input type="password" name="password" id="haslo" required />

            </div>
                </div>
            <button type="submit" class="Login-btn">Zaloguj się</button>

        </form>





        <div class="separator">
            <span></span> lub <span></span>
        </div>



        <div class="social-buttons">
            <button class="google"><i class="fab fa-google"></i> Zaloguj z Google</button>
            <button class="facebook"><i class="fab fa-facebook-f"></i> Zaloguj z Facebook</button>
        </div>

    <p class="login-text">Nie masz konta? <a th:href="@{/registration}">Zarejestruj się</a></p>

</div>

</body>
</html>
