<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylelogowanie.css">
    <title>Rejestracja</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <span class="task">TASK</span>
        <span class="manager">MANAGER</span>
    </div>
    <form th:action="@{/registration}" th:object="${user}" method="post">
        <div class="input-group">
            <label >Nazwa użytkownika</label>
            <input type="text" th:field="*{username}" required />

        </div>

        <div class="input-group">
            <label>Hasło</label>
            <div class="password-container">
                <input type="password" th:field="*{password}" required />
                <i class="fas fa-eye"></i>
            </div>
        </div>



        <button type="submit" class="register-btn">Zarejestruj się</button>
    </form>
    <div class="separator">
        <span></span> lub <span></span>
    </div>

    <div class="social-buttons">
        <button class="google"><i class="fab fa-google"></i> Zaloguj z Google</button>
        <button class="facebook"><i class="fab fa-facebook-f"></i> Zaloguj z Facebook</button>
    </div>

    <p class="login-text">Masz już konto? <a th:href="@{/login}">Zaloguj się</a></p>    </div>
</body>
</html>
